/* This applies from 0px to 600px */
#footer {
    background-color: var(--clr-ftrBg);
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
}

.footer__flex-con {
    display: flex;
    flex-direction: column-reverse;
}


.footer__business-info a {
    display: block;
    margin-bottom: 2rem;
}
.footer__business-info > *+* {
    margin-bottom: 2rem;
}

.footer__site-links {
    display: none;
}

#accordion {
    display: block;
    width: 100%;
}
.accordion__contentBx {
    position: relative;
    margin: 10px 0;
}

.accordion__label {
    position: relative;
    padding: 10px 0;
    background: var(--clr-ftrBg);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.accordion__label svg {
    transition: all .3s ease-in-out;
    transform: rotate(0);
    
}

.accordion__label-arrow--flip {
    transform: rotate(180deg);
}

.accordion__content {
    display: grid;
    gap: 1rem;
    padding: 0 10px;
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
}

.accordion__content--open {
    height: 150px;
}

.footer__sub {
    background-color: var(--clr-sbftrBg);
}

/* This applies from 600px onwards */
@media (min-width: 640px) {}
@media (min-width: 768px) {
    .footer__container {
        display: flex;
        flex-direction: row;
        padding: 30px 0;
    }

    .footer__flex-con {
        display: grid;
        grid-auto-flow: column;
        gap: 5rem;
    }

    .footer__business-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
    }

    .footer__business-info a {
        margin-bottom: 2em;
    }
    
    .footer__business-info > * + * {
        margin-bottom: 2rem;
    }

    .footer__site-links {
        display: grid;
        grid-auto-flow: column;
    }

    .footer__links-container {
        display: grid;
        margin-right: 6rem;
        gap: 1rem;
    }

    #accordion {
        display: none;
    }
}